<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
                <value>classpath:redis.properties</value>
                <value>classpath:elasticsearch.properties</value>
                <value>classpath:mq.properties</value>
                <value>classpath:memcached.properties</value>
                <value>classpath:datasource.properties</value>
                <value>classpath:c3p0.properties</value>
			</list>
		</property>
    </bean>


    <!-- dataSource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${datasource.driverClass}"></property>
        <property name="jdbcUrl" value="${datasource.master_main.jdbcUrl}"></property>
        <property name="user" value="${datasource.master_main.user}"></property>
        <property name="password" value="${datasource.master_main.password}"></property>
        <property name="minPoolSize" value="${c3p0.minPoolSize}" />
        <property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
        <property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
        <property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
        <property name="maxStatements" value="${c3p0.maxStatements}" />
        <property name="initialPoolSize" value="${c3p0.initialPoolSize}" />
        <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}" />
        <property name="autoCommitOnClose" value="${c3p0.autoCommitOnClose}" />
        <property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}" />
        <property name="breakAfterAcquireFailure" value="false" />
        <property name="testConnectionOnCheckout" value="false" />
        <property name="maxStatementsPerConnection" value="${c3p0.maxStatementsPerConnection}" />
        <property name="checkoutTimeout" value="${c3p0.checkoutTimeout}" />
        <property name="automaticTestTable" value="${c3p0.automaticTestTable}" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!--如果mapper映射文件与mapper类不在同一个目录下，可以配置mapperLocations-->
        <!--<property name="mapperLocations" value="classpath*:com/zhiyun168/mapper/**/*.xml" />-->
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="recommend.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>


</beans>