    <configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Support multiple-JVM writing to the same log file -->
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/recommend-middleman/rec.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

        <appender name="FEEDBACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/data/recommend-middleman/rec.feedback.log</file>
            <encoder>
                <pattern>%msg%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.S3TimeBasedRollingPolicy">
                <!-- Rollover every minute -->
                <fileNamePattern>rec.feedback.%d{yyyy-MM-dd_HH-mm}.%i.log</fileNamePattern>
                <awsAccessKey>AKIAP7A6NA2HRIN6RCXQ</awsAccessKey>
                <awsSecretKey>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</awsSecretKey>
                <s3Endpoint>s3.cn-north-1.amazonaws.com.cn</s3Endpoint>
                <s3BucketName>feel.recommender.log</s3BucketName>
                <s3FolderName>recommend-middleman</s3FolderName>
                <rolloverOnExit>true</rolloverOnExit>
                <shutdownHookType>JVM_SHUTDOWN_HOOK</shutdownHookType>
                <prefixTimestamp>false</prefixTimestamp>
                <prefixIdentifier>true</prefixIdentifier>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <logger name="recommend.service.RecommendFeedbackLogger" level="info" additivity="false">
            <appender-ref ref="FEEDBACK"/>
        </logger>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>
